.nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
        border-bottom: 1px solid #333;
        height: auto;
        padding: 10px;
        text-indent: 10px;
        width: 100%;
    }

    & li:hover {
        background-color: #333;
    }

    &--white {
        color: white;
    }
}

.header {
    & .logo {
        height: 150px;
        width: auto;
    }
    
    & p {
        color: #f4f4f4;
        font-weight: bold;
        margin: 0;
        padding: 10px 0;
        text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
    }
}

.cta {
    margin: 10px 100px;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    padding: 20px 0;

    &--grey {
        background-color: lightgrey;
    }

    & h3 {
        margin: 0 0 20px 0;
    }

    & p {
        display: block;
        width: 500px;
        height: auto;
        text-align: justify;
        text-align-last: center;
        margin: 0 auto;

        & a {
            text-decoration: none;
        }
    }
}

.doc {
    & h3 {
        display: block;
        font-weight: bold;
        text-align: left;
        text-indent: 10px;
    }

    & img {
        float: left;
    }

    & p {
        margin: 0 30px 0 10px;
        text-align: justify;
    }
}

.footer {
    & p {
        font-size: 85%;
        color: #838383;
    }
}






