* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.254em;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    left: 0;
    padding-left: 150px;
    margin: 0;
}

.nav {
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    position: fixed;
    width: 150px;

    &--black {
        background: #1b1b1c;
    }

    &--left {
        float: left;
    }
}

.section {
    margin-left: 1.5em;
    overflow: auto;

    &--textcenter {
        text-align: center;
    
    }

    &--p-75 {
        margin: 0 100px;
    }
}

.col {
    &--1-3 {
        float: left;
        width: 33.33%;
        height: auto;
    }
}

.footer {
    margin: 100px;
    border-top: 1px solid #333;
}






